@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --background: linear-gradient(to bottom right, #0f172a, #1e293b, #0f172a);
  --foreground: #e2e8f0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to bottom right, #0f172a, #1e293b, #0f172a);
    --foreground: #e2e8f0;
  }
}

body {
  display: flex;
  flex-direction: column;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  flex: 1;
}
